#!/bin/bash

keytab_dir=/etc/security/keytab

{% for user in cluster_users %}
if [ ! -f "${keytab_dir}/{{ user }}.service.keytab" ]; then
  /usr/bin/kadmin -p gcsdbahadoop/dba@{{ REALM }} -q 'addprinc -randkey {{ user }}/{{ HOSTNAME }}@{{ REALM }}' -w dba123
  /usr/bin/kadmin -p gcsdbahadoop/dba@{{ REALM }} -q "ktadd -kt ${keytab_dir}/{{ user }}.service.keytab {{ user }}/{{ HOSTNAME }}@{{ REALM }}" -w dba123
fi
chmod 440 ${keytab_dir}/{{ user }}.service.keytab
chown {{ user }}:hadoop ${keytab_dir}/{{ user }}.service.keytab
{% endfor %}
