#!/bin/bash

{% for user in cluster_users %}
LIMIT_FILE=/etc/security/limits.d/{{ user }}.conf
cat > $LIMIT_FILE <<EOF
{% for limit in cluster_users[user].ulimits.keys() %}
{{ user }} - {{ limit }}  {{ cluster_users[user]['ulimits'][limit] }}
{% endfor %}
EOF
echo "Created file: /etc/security/limits.d/{{ user }}.conf with contents of: "
chmod 644 $LIMIT_FILE
chown root:root $LIMIT_FILE
cat /etc/security/limits.d/{{ user }}.conf
echo
{% endfor %}

