SUBSYSTEM=="net", ACTION=="add", NAME=="{{ ansible_default_ipv4.interface }}", RUN+="/sbin/ip link set {{ ansible_default_ipv4.interface }} txqueuelen {{ mytxqueuelen.stdout }}"
{% if driver.stdout == "ixgbe" %}
SUBSYSTEM=="net", ACTION=="add", NAME=="{{ ansible_default_ipv4.interface }}", RUN+="/sbin/ethtool -G {{ ansible_default_ipv4.interface }} rx 4096 tx 4096"
{% endif %}
SUBSYSTEM=="net", ACTION=="add", NAME=="{{ ansible_default_ipv4.interface }}", RUN+="/sbin/ethtool -K {{ ansible_default_ipv4.interface }} rx on tx on sg on gso on tso on lro on"
